<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.academic">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.one">
        <meta-data android:name="com.google.android.geo.API_KEY"
              android:value="AIzaSyDSK9b07WMZY8Qq9M78SCfhX77qTDuPiJY"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".NavegationDrawable"
            android:exported="false"
            android:label="@string/title_activity_navegation_drawable"
            android:theme="@style/Theme.one.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_Ajuste"
            android:exported="false" />
        <activity
            android:name=".Activity_Curso"
            android:exported="false" />
        <activity
            android:name=".Activity_Estudiante"
            android:exported="false" />
        <activity
            android:name=".Activity_Notas"
            android:exported="false"
            android:label="Agregar materias"/>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>